#container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
#player{
	position: absolute;
    top: 300px;
    left: 59px;
    right: 0;
    bottom: 0;

}
#music-player{
	display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    height: 40vh;
    flex-direction: column;
}
.btns{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border:none;
}